body {
    background-color: rgb(232, 228, 228);
    margin: 0;
}

.graph {
    width: 100%;
    /* La imagen ocupará el 80% de la altura de la pantalla */
    overflow: hidden;
}

.graph img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 50px;
}

h1 {
    /* Alinea el texto */
    margin: 20px 0;
    /* Espacio alrededor del título */
    text-decoration: underline;
    margin-left: 5%;

}

h2 {
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 5%;

}

.underline {
    text-decoration: underline;
}

.retour {
    margin-left: 85%;
    width: 10%;
    margin-bottom: 200px;
}